*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: white;
}
body{
    height: 100vh;
}
header{
    position: relative;
    width: 100%;
    height: 50%;
}
header img{
    width: 100%;
    height: 100%;
}
section{
    background-image: url(img/bg_bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50%;
}
.lien{
    width: 40%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.extrait{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.box{
    width: 250px;
    height: 100px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.left .box:hover{
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px #000;
}
.right .box:hover{
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px #fff;
}
.box i{
    font-size: 30px;
}
.box p{ 
    font-size: 30px;
}
.extrait .text{
    transform: translateX(-60px);
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}
.text :nth-child(1){
    transform: translateX(-100px);
    color: #AE2CEB;
}
.text :nth-child(2){
    transform: translateX(-20px);
    color: #808080;
}
.text :nth-child(3){
    transform: translateX(100px);
    color: #FF0000;
}
video{
    height: 282px;
    width: 499px;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
h1{
    position: absolute;
    font-size: 120px;
    left: 50%;
    transform: translateX(-50%);
    background: -webkit-linear-gradient(0deg, rgba(175,44,236,1) 0%, rgba(255,0,0,1) 100%);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
    z-index: 2;
}
.twitch{
    background: #9147FF;
}
.twiter{
    background: #1BA0EC;
}
.youtube{
    background: #FE0000;
}
.discord{
    background: #5764F1;
}

@media (max-width: 1500px) {
    .text{
        transform: translateX(0px);
    }
    .text :nth-child(1){
        transform: translateX(0px);
        color: #AE2CEB;
    }
    .text :nth-child(2){
        transform: translateX(0px);
        color: #808080;
    }
    .text :nth-child(3){
        transform: translateX(0px);
        color: #FF0000;
    }
}
@media (max-width: 1320px) {
    .text p{
        display: none;
    }
    .lien{
        width: 50%;
    }
    .extrait{
        width: 50%;
    }
}
@media (max-width: 1000px) {
    h1{
        font-size: 100px;
    }
    section{
        background: #000;
        height: auto;
        flex-direction: column;
    }
    .text p{
        display: block;
    }
    .lien{
        width: 100%;
        height: 500px;
    }
    .box{
        width: 300px;
    }
    .extrait{
        width: 100%;
        height: 500px;
        justify-content: center;
    }
    .left .box:hover{
        transform: translateY(-10px);
        box-shadow: 5px 5px 10px #fff;
    }
}
@media (max-width: 780px) {
    h1{
        font-size: 80px;
    }
}
@media (max-width: 880px) {
    .text{
        transform: translateX(0px) !important;
    }
    .extrait{
        flex-direction: column;
        width: 100%;
        height: 700px;
        justify-content: space-around;
    }
}
@media (max-width: 615px) {
    h1{
        font-size: 70px;
    }
    .lien{
        flex-direction: column;
        height: auto;
    }
    .div2{
        width: 100%;
        height: 400px;
    }
}
@media (max-width: 530px) {
    h1{
        font-size: 60px;
    }
}
@media (max-width: 520px) {
    video{
        width: 400px;
    }
}
@media (max-width: 460px) {
    h1{
        font-size: 40px;
    }
}
@media (max-width: 420px) {
    video{
        width: 300px;
    }
}